<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/styles.css"> <!-- Asegúrate de que la ruta sea correcta -->
</head>

<body>
  <header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <span class="gradient skew"><h1 class="logo un-skew"><a href="#home">La Ruta de Sabor de Comala</a></h1></span>
        <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
      </div>
      <div class="nav right">
        <a href="#home" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
        <a href="/login" class="nav-link"><span class="nav-link-span"><span class="u-nav">Login</span></span></a>
        <a href="/sales" class="nav-link"><span class="nav-link-span"><span class="u-nav">Ventas</span></span></a>
        <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">About</span></span></a>
      </div>
    </nav>
  </header>
  <main>
    <section id="home" style="background-image: url('styles/comala.webp'); background-size: cover; background-position: center;">
    <div></div>
    <dir></dir>
    <h2> .  </h2>
    <p> . </p>
    <div class="container blue circleBehind">
        <a>RESTAURANTES</a>
        <a>TURISMO</a>
        <a>DIVERSION</a>
        <a>HOTELES</a>
        <a>RUTA TRANSPORTE</a>
      </div>
    <p style="color: black;">Proyecto de especialidad de arquitectura y servicios web avanzados</p>
    </section>
    <section id="about">
      <h2>Sobre Comala</h2>
      <p>Información sobre la historia y cultura de Comala.</p>
    </section>
    <section id="work">
      <h2>Nuestros Proyectos</h2>
      <p>Conoce nuestros proyectos turísticos.</p>
    </section>
    <section id="contact">
      <h2>Contacto</h2>
      <p>Formulario de contacto y más.</p>
    </section>
  </main>
</body>

</html>
