<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/stylesSales.css"> <!-- Asegúrate de que la ruta sea correcta -->
</head>

<body>
    <header id="nav-wrapper">
        <nav id="nav">
            <div class="nav left">
                <span class="gradient skew"><h1 class="logo un-skew"><a href="/">La Ruta de Sabor de Comala</a></h1></span>
                <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button>
            </div>
            <div class="nav right">
                <a href="/" class="nav-link"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
                <a href="/sales" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Ventas</span></span></a>

                <a href="/login" class="nav-link"><span class="nav-link-span"><span class="u-nav">Login</span></span></a>
                <a href="#contact" class="nav-link"><span class="nav-link-span"><span class="u-nav">About</span></span></a>
            </div>
        </nav>
    </header>
    
   
    
    <main>
        <!-- Sección de menu opciones -->
        <section id="featured-products" class="ecommerce-section">
            <h2>Menu</h2>
            <div class="products-grid">
                
                <div class="product-card">
                    <h2>Usuario</h2>
                    <img src="styles\usuario.avif" alt="Producto 1" style="height: 40%; width: 70%;">
                    <h3>Menu de Usuario</h3>
                    <p>Este es el menu de usuario, aqui puedes visualizar tus productos o los ultimos productos publicados por comercios locales</p>
                    <button class="add-to-cart"><a href="/sales" style="color: aliceblue; width: 100%;">Dirigir</a></button>
                </div>
                <div class="product-card">
                    <h2>Vendedor</h2>
                    <img src="styles\vendedor.jpg" alt="Producto 2" style="height: 40%; width: 70%;">
                    <h3>Menu de Vendedor</h3>
                    <p>Este es el menu de vendedor, aqui puedes publicar, modificar o eliminar tus productos, apoyando el comercio locales</p>
                    <button class="add-to-cart" ><a href="/salesV" style="color: aliceblue;">Dirigir</a></button>
                   
                    
                </div>
               
            </div>
        </section>
    </main>
     
    
    <footer>
        <p>Proyecto de especialidad de arquitectura y servicios web avanzados</p>
    </footer>


</body>
</html>